table, td{border: 1px solid black; border-collapse: collapse;}
body{background-color: green;}
main{background-color: aqua;}
.zold{background-color: green;}
#feka{background-color: black; color: white;}