.bekezdes{background-color: lime;}
#masodikbek{margin-left: 10px; border-top: dotted; border-bottom: dashed blue; border-left: solid yellow; border-right: double green;}
#harmadikbek{border: 3px dotted red; padding: 15px;}
#negyedikbek{background-image: url(kep3.jpg); background-repeat: no-repeat; background-size:auto ; color: whitesmoke;}